.boardSquareContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coinContainer {
    width: 29px;
    height: 29px;
    background-color: var(--color-pink);
    border-radius: 4px;
    cursor: pointer;
}

.coinContainer:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.153) inset;
}