.boardSquareContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coinContainer {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    border: var(--board-square-border);
    background: var(--board-square-bg);
}

.coinContainer:hover {
    box-shadow: var(--border-square-box-shadow);
}