.playerTokenContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerToken {
    height: 100%;
    width: 100%;
}

.playerOne {
    color: var(--player-token-cross);
}

.playerOne :hover {
    color: var(--player-token-cross-hover);
}

.playerTwo {
    color: var(--player-token-circle);
}

.playerTwo :hover {
    color: var(--player-token-circle-hover);
}