.menu {
    --base-bg-color: #272727;
    --text-color: #FFF;
    --expanded-bg-color: #FFF;
    position: relative;
    width: 100%;
}

.menu .toggle {
    display: grid;
    padding: 20px;
    background-color: var(--base-bg-color);
    width: 100%;
    color: var(--text-color);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.menu .toggle svg {
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.menu .toggle svg:hover {
    color: #e45a92;
}

.menu .toggle .icon {}

.menu .toggle .logo {
}

.menu .expandedMenu {
    background-color: var(--expanded-bg-color);
    height: calc(100vh - 66px);
    padding: 0;
    width: 20%;
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    z-index: 2;
}

.menu .expandedMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu .expandedMenu ul li.header {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.menu .expandedMenu ul li {
    padding: 10px;
}

.menu .expandedMenu ul li a {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: 0.1s color ease-in-out;
}

.menu .expandedMenu ul li a:hover {
    color: #000;
}

.menu .visible {
    display: flex;
}