.menu {
    --base-bg-color: #272727;
    --text-color: #FFF;
    --expanded-bg-color: #FFF;
    position: relative;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.menu .toggle {
    display: grid;
    padding: 20px;
    background-color: var(--menu-bg-color);
    width: 100%;
    color: var(--text-color);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    position: relative;
    overflow: hidden;
}

.menu .toggle svg {
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.menu .toggle svg:hover {
    color: var(--accent);
}

.menu .toggle .icon {}

.menu .toggle .logo {
    margin: 0 auto;
}

.menu .toggle .glow {
    position: absolute;
    box-shadow: 0 -100px 140px 90px var(--accent);
    left: 50%;
    transform: translateX(-50%);
}

.menu .toggle .switch {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu .toggle .switch > svg {
    cursor: default;
}

.menu .toggle .switch:hover > svg {
    color: currentColor;
}

.menu .expandedMenu {
    background: var(--menu-expanded-bg-color);
    height: calc(100vh - 66px);
    padding: 0;
    width: 20%;
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    z-index: 2;
}

.menu .expandedMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu .expandedMenu ul li.header {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--divider-border-color);
    padding: 20px;
}

.menu .expandedMenu ul li {
    padding: 10px;
}

.menu .expandedMenu ul li a {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: 0.1s color ease-in-out;
}

.menu .expandedMenu ul li a:hover {
    color: var(--text-link-hover);
}

.menu .visible {
    display: flex;
}