.menu {
    --base-bg-color: #272727;
    --text-color: #FFF;
    --expanded-bg-color: #FFF;
}

.menu .toggle {
    display: flex;
    padding: 1rem;
    background-color: var(--base-bg-color);
    width: 100%;
    color: var(--text-color);
}

.menu .expandedMenu {
    background-color: var(--expanded-bg-color);
    width: 25%;
    height: 100vh;
    padding: 1em;
    display: none;
    box-shadow: 6px 0 12px -2px rgba(0, 0, 0, 0.2);
}

.menu .expandedMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu .expandedMenu ul li.header {
    font-weight: bold;
    text-transform: uppercase;
}

.menu .expandedMenu ul li {
}

.menu .expandedMenu ul li a {
    color: inherit;
    text-decoration: inherit;
}

.menu .visible {
    display: flex;
}