.restartButton {
    background-color: var(--secondary-accent);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: var(--secondary-button-text-color);
    cursor: pointer;
    font-size: 30px;
}

.restartButton:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.153);
}