.createButton {
    background-color: #41C9E4;
    font-family: var(--var-font-family);
    font-size: inherit;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    min-width: 316px;
    height: 40px;
}
.createButton:hover{
    cursor: pointer;
}
