.footer {
    width: 100%;
    
}

.footer .copyright {
    padding: 40px;
    gap: 20px;
    border-top: 1px solid var(--divider-border-color);
    background: var(--footer-top-bg-color);
    text-align: center;
}

.footer .copyright .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.footer .copyright .links a {
    text-decoration: inherit;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.1s color ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .copyright .links a:hover {
    color: var(--text-link-hover);
}

.footer .createdBy {
    padding: 20px;
    background: var(--footer-bottom-bg-color);
    color: var(--footer-bottom-text-color);
    text-align: center;
}

.footer .createdBy a {
    text-decoration: inherit;
    color: inherit;
    transition: 0.1s color ease-in-out;
}

.footer .createdBy a:hover {
    color: var(--accent);
}