.register-form {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 4px;
    background: var(--main-content-container-bg-color);
    width: 50%;
}

.register-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.register-form h1 {
    color: #41C9E4;
    text-align: center;
}

.register-form form input {
    outline: none;
    border: 2px solid var(--input-border-color);
    border-radius: 4px;
    background: var(--input-bg-color);
    padding: 15px;
}

.register-form form button {
    background-color: var(--accent);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: var(--secondary-button-text-color);
    cursor: pointer;
    transition: 0.1s background-color ease-in-out;
}

.register-form form button:hover {
    background-color: var(--accent-hover);
}