.player-turn {
    text-align: center;
    color: #41C9E4;
    font-weight: bold;
    text-transform: uppercase;
}

.player-turn .player-name {
    font-size: 40px;
}

.player-turn .description {
    font-size: 24px;
}

.player-turn.opponent {
    color: #FF33EE;
}